In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [23]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
839,tt1742650,24000000,30551495,I Don't Know How She Does It,Sarah Jessica Parker|Pierce Brosnan|Sarah Shah...,Douglas McGrath,"If it were easy, men would do it too.","A comedy centered on the life of Kate Reddy, a...",89,Comedy,The Weinstein Company,9/16/2011,5.2,2011
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
1228,tt1535109,55000000,95000000,Captain Phillips,Tom Hanks|Catherine Keener|Max Martini|Chris M...,Paul Greengrass,Out here survival is everything.,The true story of Captain Richard Phillips and...,134,Action|Drama|Thriller,Columbia Pictures,10/10/2013,7.7,2013
62,tt2057392,13000000,32848185,Eye in the Sky,Helen Mirren|Aaron Paul|Alan Rickman|Iain Glen...,Gavin Hood,Welcome to the new front line,A military officer in command of a drone opera...,102,Drama|Thriller|War,Entertainment One|Moonlighting Films|Raindog F...,9/11/2015,7.2,2015
1323,tt0360486,100000000,230427240,Constantine,Keanu Reeves|Rachel Weisz|Shia LaBeouf|Djimon ...,Francis Lawrence,"Hell Wants Him, Heaven Won't Take Him, Earth N...",John Constantine has literally been to Hell an...,121,Drama|Fantasy|Horror,Village Roadshow Pictures|DC Comics|Lonely Fil...,2/15/2005,6.5,2005

In [24]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [25]:
answers = {} # создадим словарь для ответов


data['profit']=data.revenue-data.budget # добавим в датафрейм столбец profit = revenue - budget


#функция для перевода данных в столбцах в формaт списка
def str_to_list(str_column):
    result_list = str_column.str.split('|')
    return result_list


#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date']=pd.to_datetime(data['release_date'], format="%m/%d/%Y")

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [26]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"

In [27]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()] # "+"

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [28]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' # "+"

In [29]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [30]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' # "+"


data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [31]:
answers['4'] = 109.658549 # "+"
#среднее уже видим выше через метод .describe (строка 'mean', столбец 'runtime')
#Можем рассчитать отдельно
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [32]:
answers['5'] = 107.000000 # "+"
# медиана уже выведена в .describe (строка '50%')
#Можем рассчитать отдельно
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [33]:
answers['6'] = '239. Avatar (tt0499549)' #"+"


data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [34]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #"+"


data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [35]:
answers['8'] = 1478 #"+"


data[data.profit > 0].profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [36]:
answers['9'] = '599. The Dark Knight (tt0468569)' #"+"


data[data.release_year == 2008].sort_values(['revenue'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [38]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' #"+"


data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ

In [39]:
answers['11'] = 'Drama'#"+"


data['genres_list']=str_to_list(data['genres'])
Counter(data['genres_list'].sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [40]:
answers['12'] = 'Drama'#"+"


Counter(data.query('profit> 0')['genres_list'].sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [41]:
answers['13'] = 'Peter Jackson'#"+"

data['director_list']=str_to_list(data['director'])#c помощью функции добавим стобец с именами режиссеров в форме списка

# скопируем в новый датафрейм, разбив на подстроки по столбцу director
data_director_exploded=data.explode('director_list').copy()
data_director_exploded.groupby(['director_list'])['revenue'].sum().sort_values(ascending=False)

director_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
answers['14'] = 'Robert Rodriguez' #"+"

director_count_action=data_director_exploded[data_director_exploded['genres'].
                      str.contains('Action')].director_list.value_counts()
director_count_action

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Kevin Smith           1
Steve Carr            1
Feng Xiaogang         1
Colin Trevorrow       1
Rob Pritts            1
Name: director_list, Length: 364, dtype: int64

In [43]:
#вариант 2
Counter(data[data['genres'].str.contains('Action')]['director_list'].sum()).most_common(5)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [44]:
answers['15'] = 'Chris Hemsworth' #"+"

data['cast_list']=str_to_list(data['cast'])#c помощью функции добавим стобец с именами актеров в форме списка


data_cast_exploded=data.explode('cast_list').copy()# скопируем в новый датафрейм данные, разбив на подстроки по столбцу cast
data_cast_exploded[data_cast_exploded.release_year == 2012].groupby(['cast_list'])['revenue'].sum().sort_values(ascending=False)

cast_list
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [45]:
#Примечание: в фильмах, где бюджет выше среднего по данной выборке.
answers['16'] ='Matt Damon' #"+"

data_cast_exploded[data_cast_exploded.budget > data_cast_exploded.budget.mean()]['cast_list'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Kaya Scodelario       1
Haley Joel Osment     1
Karin Konoval         1
Hayley Atwell         1
Betty Buckley         1
Name: cast_list, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
answers['17'] = 'Action' #"+"

Counter(data[data['cast'].str.contains('Nicolas Cage')]['genres_list'].sum()).most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)' #'+'

#c помощью функции добавим стобец с названиями произодителей в форме списка
data['production_companies_list']=str_to_list(data['production_companies'])
# скопируем в новый датафрейм данные, разбив на подстроки по столбцу production_companies
data_companies_exploded=data.explode('production_companies_list').copy()
data_companies_exploded[data_companies_exploded['production_companies_list'].
                        str.contains('Paramount Pictures')].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
answers['19'] = 2015 #'+'

data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
answers['20'] = 2014 #'+'

data_companies_exploded[data_companies_exploded['production_companies_list'].
                        str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = 'сентябрь' #'+'


data.release_date.dt.month.value_counts(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = 450 #'+'


data.release_date.dt.month.value_counts().loc[[6,7,8]].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = 'Peter Jackson' #'+'


data_director_exploded[(data_director_exploded.release_date.dt.month == 1) 
                      | (data_director_exploded.release_date.dt.month == 2) 
                      | (data_director_exploded.release_date.dt.month == 12)]['director_list'].value_counts(ascending=False)

Peter Jackson         7
Clint Eastwood        6
Steven Soderbergh     6
Shawn Levy            4
Martin Scorsese       4
                     ..
Dean Parisot          1
Francine McDougall    1
Brad Silberling       1
Donovan Cook          1
Guy Ritchie           1
Name: director_list, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = 'Four By Two Productions' #'+'

#добавим столбец с данными о длине названия
data_companies_exploded['title_len']=data_companies_exploded.original_title.apply(lambda x: len(x))
data_companies_exploded.groupby(['production_companies_list'])['title_len'].mean().sort_values(ascending=False)

production_companies_list
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show' #'+'

#добавим столбец с данными о длине описания по числу слов
data_companies_exploded['overview_len']=data_companies_exploded.overview.apply(lambda x: len(x.split()))
data_companies_exploded.groupby(['production_companies_list'])['overview_len'].mean().sort_values(ascending=False)

production_companies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #'+'

#отберем из датафрейма строки с vote_average больше 99го персинтиля
data[data.vote_average > np.percentile(data['vote_average'], 99)][['original_title','vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' #'+'


from itertools import combinations
#итератор сформирует уникальные  пары/кортежи из списка актеров по каждому фильму, список отсортирован по алфавиту при создании
##объекты  itertools сразу переводим в формат списков
data['cast_cortege'] = data.cast_list.apply(lambda x: list(combinations(x, 2))) 
#по спискам кортежей из всех строк 'cast_cortege' просчитаем суммарно частоту вхождений кортежа в список, выберем самые частые  
Counter(data['cast_cortege'].sum()).most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 109.658549,
 '5': 107.0,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27